


.meme-preview p{

}
ul,li{list-style: none;}

.menu li a {
	/*Todas las listas en el nav-enlaces*/
	background-color: #5da5a2;
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: block; 
}/*para que no esten en linea*/

.menu li a:hover{/*al pasar por las opciones*/
	background-color: #434343; 
}
.menu > li{float: left;}/*les li directos*/

.menu li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
.menu li:hover>ul{/*ul hijos de los li*/
	display: block;
}
.menu li ul li{position: relative;}/*podemos modificar posicion*/

.menu li ul li ul{/*Cambiamos la posicion del submenu*/
	right: -140px;
	top: 0px;
}

.clear{
	clear: both;
}
