header
{
	border-radius:20px 20px 0px 0;
	background:#1de9b6;
	margin:0px;
	margin-bottom:-24px;
	color:white;
	border:
}

div.form-box{
	background:#004d40;
	padding :20px;
	color:white;
}
div.form-box input[type=text]
{
	box-sizing:border-box;
	overflow:hidden;
	width :90%;
}

article
{
	background:#66bb6a;
}
section {
  float: left;
  margin: 0 1.5%;
  background:#4caf50;
  width: 72%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 20%;
}


.preview p{
	float:right;
	width:70%;
}
.preview img{
	float:left;
}

#top_menu{
	background-color: #5da5a2;
	display: block;
 	height: 40px;
}

ul,li{list-style: none;}
.menu li a {
	margin-top:0px;
	/*Todas las listas en el nav-enlaces*/
	background-color: #5da5a2;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block; 
}/*para que no esten en linea*/

.menu li a:hover{/*al pasar por las opciones*/
	background-color: #434343; 
}
.menu > li{float: left;}/*les li directos*/

.menu li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
.menu li:hover>ul{/*ul hijos de los li*/
	display: block;
}
.menu li ul li{position: relative;}/*podemos modificar posicion*/

.menu li ul li ul{/*Cambiamos la posicion del submenu*/
	right: -140px;
	top: 0px;
}
.tipo_pepe table{
	 border-collapse: separate;
	 border-width: 1px;
}
.clear{
	clear: both;
}
body{
	background-color:#F2F2F2; 
}

